@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h2 class="display-2">Welcome</h2>
    <div class="container">
        <h3>👋Hello👋</h3>
        <p>My name is Dohun Kim.</p>
        <p>What I'm good at it?</p>
        <p>I currently am looking for a job.</p>
    </div>
</div>