@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <div class="container">
        @* self introduction section *@
        <div class="selfIntro extraTopMargin">
            <h1>👋Hello👋</h1>
            <br>
            <p>My name is Steven Dohun Kim, currently looking for a job as a Software Developer.</p>
            <p>This portfolio web application is built by myself during my last term at BCIT.</p>
            <p>This page introduces who I am. If you are interested in projects I have done, please feel free to check them
                out on <a href="../Projects">PROJECT</a> tab!</p>
        </div>

        <br><br>
        <h3>Check what I like</h3>
        <p>coding is not what I like, but what I love</p>

        @* Hobbies? *@
        <div class="row justify-content-md-center project">
            <div class="col-md-auto align-self-center minWidth">
                <img class="hobbyIMG radius" src="~/images/Photography.JPG">
            </div>
            <div class="col align-self-center">
                <h2 class="extraTopMargin">Photography</h2>
                <p>I love photography!</p>
                <p>It gives me rich of ideas and great memories.</p>
                <p>The time will be forgotten but the photos will remain.</p>
                <!-- Large modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target=".bd-example-modal-lg">Albums</button>
            </div>
        </div>

        <div class="row justify-content-md-center project">
            <div class="col-md-auto align-self-center minWidth">
                <img class="hobbyIMG radius" src="~/images/SushiMania.JPG">
            </div>
            <div class="col align-self-center">
                <h2 class="extraTopMargin">Cook</h2>
                <p>I have been working in the food industry for many years. Learned how to make delicious dishes from the exprerience.</p>
                <p>Now I am glad that I can make them for my family.</p>
            </div>
        </div>

        <div class="row justify-content-md-center project">
            <div class="col-md-auto align-self-center minWidth">
                <img class="hobbyIMG radius" src="~/images/Travel_Banff_Railway.jpg">
            </div>
            <div class="col align-self-center">
                <h2 class="extraTopMargin">Travel</h2>
                <p>I like to travel. Who does not?</p>
                <p>It explains why I am here in Vancouver from South Korea.</p>
                <p>I have been to following cities</p>
                <p>Calgary, Seattle, Portland, San Fransisco, Los Angeles, New York, Hawaii, Cancun, Seoul, Tokyo, Osaka, Ho Chi Minh, Bangkok, and Saipan!</p>
            </div>
        </div>

        @* modal albums *@
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <img src="~/images/Travel_Banff_Downtown.JPG">
                </div>
            </div>
        </div>
    </div>
</div>