/* Custom Style */

@media only screen and (max-width: 575px) {
    img.imgmaxwidth {
        max-width: 20rem;
    }

    img.hobbyIMG {
        max-width: 100%;
    }
}

@media only screen and (min-width: 576px) {
    img.imgmaxwidth {
        max-width: 100%;
    }

    img.hobbyIMG {
        max-height: 600px;
        max-width: 450px;
    }

    .projectIndex {
        display: none;
    }
}

img.img200 {
    width: 220px;
    height: 200px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

img.projectIMG {
    max-height: 400px;
    max-width: 300px;
}

img.radius {
    border-radius: 15px;
}

div.project {
    margin-bottom: 50px;
}

div.minWidth {
    min-width: 300px;
}

.extraTopMargin {
    margin-top: 15px;
}

div.containerItems {
    margin-bottom: 100px;
}

.BCIT {
    display: inline-block;
    margin: auto;
    color: white;
    background-color: darkblue;
    padding: 5px;
    border-radius: 3px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

p.updown {
    margin-top: 40px;
    margin-bottom: 20px;
}

table.table100 {
    width: 100%;
}