@model Do4.Models.Project_Language

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project_Language</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <select asp-for="ProjectName" class="form-control" asp-items="@ViewBag.ListOfProjects">
                    <option disabled selected>--- SELECT PROJECT ---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="LanguageName" class="control-label"></label>
                <select asp-for="LanguageName" class="form-control" asp-items="@ViewBag.ListOfLanguages">
                    <option disabled selected>--- SELECT LANGUAGE ---</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
